<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign Up - CityGuide</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
</head>
<body class="dark-theme">
  <div class="login-container animate-fade-in">
    <img src="logotb.png" class="logo" />
    <h2>Create Account</h2>
    <form id="signup-form" method="POST" action="/signup">
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit" >Sign Up</button>
    </form>
    <p class="signup-link">Already have an account? <a href="/">Login</a></p>
  </div>
</body>
</html>